/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.positive {
  background-color: #ff7f0e !important;
  color: #fff !important;
}

.negative {
  background-color: #1f77b4 !important;
  color: #fff !important;
}

.highlight {
  .correct-prediction {
    background-color: #d4edda !important;
    color: #155724 !important;
    border: none 1px #c3e6cb;

    &.ag-row-selected {
      background-color: #155724 !important;
      color: white !important;
    }
  }

  .wrong-prediction {
    background-color: #f8d7da !important;
    color: #721c24 !important;
    border: none 1px #f5c6cb;

    &.ag-row-selected {
      background-color: #721c24 !important;
      color: white !important;
    }
  }
}

.lime-feature-values {
  .ag-root-wrapper {
    border: none;
    background: #fafafa;
  }

  .ag-header {
    border-bottom: none;
  }
}

.mat-progress-spinner.spinner {
  display: none;
  margin: auto;

  &.show {
    display: block;
  }
}
