/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.positive {
  background-color: #ff7f0e !important;
  color: #fff !important;
}

.negative {
  background-color: #1f77b4 !important;
  color: #fff !important;
}

.lime-feature-values {
  .ag-root-wrapper {
    border: none;
    background: #fafafa;
  }

  .ag-header {
    border-bottom: none;
  }
}
