:host {
  display: grid;
  align-items: center;
  height: 100vh;
  grid-template-rows: 64px 1fr;
}

.grid-container {
  display: grid;
  gap: 10px;
}

.button-container {
  display: flex;

  button {
    margin: auto;
  }
}
